# Python cache files
__pycache__/
*.py[cod]

# Virtual environment
.venv
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
*.log

# Coverage reports
.coverage
htmlcov/

# Pytest cache
.pytest_cache/

# Tests
tests/

# Cursor
.cursor/

# Cache
.cache/
